<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathias Mildner</title>
    <link rel="stylesheet" href="./res/dark.css">
</head>
<body>
    <header>
        <h1>Vítejte na mé osobní stránce!</h1>
        <p>Tady najdete odkazy na mé začátečnické webové projekty:</p>
    </header>
    <nav>
        <ul>
            <li><a href="ahojsvete/ahojsvete.html">Ahoj světe</a></li>
            <li><a href="webgame/webgame.html">Webová hra</a></li>
            <!-- další projekty přidávejte sem -->
        </ul>
    </nav>
    <footer>
        <p><img src="res/mipoto.jpg" alt="fotka" style="width: 60px; margin-right: 20px;"></p>
        <h2>Mathias Mildner</h2>
    </footer>
</body>
</html>
